/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

table, th, td {
  padding-right: 30px;
  padding-bottom: 30px;
  /* display: inline-block; */
  text-align: center;
  /* border: 1px solid black; */
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

h2 { 
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

h3 { 
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

form {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* border: 1px solid black; */
  display: inline-block
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: rgb(175, 76, 76);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}